<ion-content>
  
  <div class="tot">
  <div class="Title">
    <img src="https://cdn-icons-png.flaticon.com/128/3357/3357212.png" class="image">
    <button class="Title-button" routerLink="..">Greenevive</button>
  </div>
</div>

<div class="Parent">

  <div class="Text-1">
    <div class="Text-1-div">
      <h1 class="Text-1-h1">Forgot Password</h1>
      <h3 class="Text-1-h3">To change your password enter your email here and request link per email.</h3>
    </div>
  </div>
  <form>

    <div>
      <div class="Email-div">
        <div class="Email">
          <p class="Email-p">Email</p>
          <input class="Email-field" type="text" name="email"   placeholder="Enter your email" [(ngModel)] = 'email'>
        </div>
      </div>
      <div class="forgot-password-div">
      <button class="forgot-password-button" color="primary" (click)="forgotPassword()">Send Link</button>
      </div>  
    </div>  
    </form>
    <div class="Other-options">
      <div>
        You remember your password? <em><a href="../sign-in"><button class="Sign-in-button">Sign In</button></a></em>
      </div>
    </div>
    </div>
    </ion-content>





