.b-black {
    color: white;
}
.w-10{
    width: 10px;
    background-color: #3c7357;
}
ion-icon:active{
    color: blue;
}
ion-tab-button:active{
    color: blue;
}

.transparent-tab-bar{
    background-color: #3c7357;
}

.test{
    background-color: #ffffff;
}

.b-red {
    color: red;
    font-size: 25px;
  }

  
  