.tot{
  background-color: #3c7357;
  //background-image: url("../../../assets/backtitle3.png") opacity 0.5;
}

.Parent {
  // background-color: #f8f8f8;
  background-color: #a6bba5;
  color: black;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Title {
  text-align: center;
  
}

.Title-button {
  text-align: center;
  color: #76a55c;
  font-family: "Shantell Sans";
  font-weight: 500;
  font-size: 50px;
  background-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #22d254;
  margin: 15px;
}

.Title-button:hover {
  color: #5ae453; /* Change background color on hover */
}

$image-size: 45px;
.image{
  width: $image-size ;
	height: $image-size ;
  margin-top: 30px;
}

.Text-1 {
  display: flex;
  justify-content:center;
}

.Text-1-div {
  text-align: left;
  width: 350px;
}

.Text-1-h1 {//sign in
  color: #000000;
  font-size: 40px;
  text-align: center;
}

.Text-1-h3 {
  color: #000000;
  font-size: 20px;
  margin-top: 10%;
  font-size: 130%;
}
.Username-div,
.Email-div,
.Password-div,
.PasswordVer-div {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.Password-div{
  margin-left: 25px;
}
.PasswordVer-div{
  margin-left: 25px;
}

.Username,
.Email,
.Password,
.PasswordVer {
  text-align: left;
}

.Username-field,
.Email-field,
.Password-field,
.PasswordVer-field {
  width: 350px;
  background-color: #ebebeb;
  border: none ;
  outline: none;
  padding: 5px; /* Add padding for better appearance */
  font-size: 110%;
}

.Username-p,
.Email-p,
.Password-p,
.PasswordVer-p {
  color: #000000;
  font-size: 130%;
  font-weight: bolder;
}

.Sign-up-button {
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  width: 280px;
  height: 48px;
  background-color: #3c7357;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
  margin-top: 15%;
}

.Sign-up-button:hover {
  background-color: #152c22; /* Change background color on hover */
}

.Sign-up-div {
  margin: 5px;
  text-align: center;
}

.Sign-in {
  display: inline-block;
  width: 400px;
}

.Sign-in-button{
  font-size: 110%;
  background-color: transparent;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s ease; /* Add transition for hover effect */
  margin: 5px;
  text-decoration: underline;
  
}

.Sign-in-button:hover {
  color: #436946; /* Change text color on hover */
}

.Other-options {
  margin: 10px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Forgot-Password {
  margin: 10px;
  text-align: center;
}

.Forgot-Password-button {
  background-color: transparent;
  color: #989eb1;
}

.Buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
